In [40]:
import pandas as pd
from sklearn.impute import KNNImputer

In [41]:
df = pd.read_csv('telecom_churn_data.csv')

In [42]:
df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [43]:
df.shape

(99999, 226)

In [44]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 226 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   mobile_number             99999 non-null  int64
 1   circle_id                 99999 non-null  int64
 2   loc_og_t2o_mou            98981 non-null  float64
 3   std_og_t2o_mou            98981 non-null  float64
 4   loc_ic_t2o_mou            98981 non-null  float64
 5   last_date_of_month_6      99999 non-null  object
 6   last_date_of_month_7      99398 non-null  object
 7   last_date_of_month_8      98899 non-null  object
 8   last_date_of_month_9      98340 non-null  object
 9   arpu_6                    99999 non-null  float64
 10  arpu_7                    99999 non-null  float64
 11  arpu_8                    99999 non-null  float64
 12  arpu_9                    99999 non-null  float64
 13  onnet_mou_6               96062 non-null  float64
 14  onnet_mou_7               96140 non-null  float64
 15  onnet_mou_8               94621 non-null  float64
 16  onnet_mou_9               92254 non-null  float64
 17  offnet_mou_6              96062 non-null  float64
 18  offnet_mou_7              96140 non-null  float64
 19  offnet_mou_8              94621 non-null  float64
 20  offnet_mou_9              92254 non-null  float64
 21  roam_ic_mou_6             96062 non-null  float64
 22  roam_ic_mou_7             96140 non-null  float64
 23  roam_ic_mou_8             94621 non-null  float64
 24  roam_ic_mou_9             92254 non-null  float64
 25  roam_og_mou_6             96062 non-null  float64
 26  roam_og_mou_7             96140 non-null  float64
 27  roam_og_mou_8             94621 non-null  float64
 28  roam_og_mou_9             92254 non-null  float64
 29  loc_og_t2t_mou_6          96062 non-null  float64
 30  loc_og_t2t_mou_7          96140 non-null  float64
 31  loc_og_t2t_mou_8          94621 non-null  float64
 32  loc_og_t2t_mou_9          92254 non-null  float64
 33  loc_og_t2m_mou_6          96062 non-null  float64
 34  loc_og_t2m_mou_7          96140 non-null  float64
 35  loc_og_t2m_mou_8          94621 non-null  float64
 36  loc_og_t2m_mou_9          92254 non-null  float64
 37  loc_og_t2f_mou_6          96062 non-null  float64
 38  loc_og_t2f_mou_7          96140 non-null  float64
 39  loc_og_t2f_mou_8          94621 non-null  float64
 40  loc_og_t2f_mou_9          92254 non-null  float64
 41  loc_og_t2c_mou_6          96062 non-null  float64
 42  loc_og_t2c_mou_7          96140 non-null  float64
 43  loc_og_t2c_mou_8          94621 non-null  float64
 44  loc_og_t2c_mou_9          92254 non-null  float64
 45  loc_og_mou_6              96062 non-null  float64
 46  loc_og_mou_7              96140 non-null  float64
 47  loc_og_mou_8              94621 non-null  float64
 48  loc_og_mou_9              92254 non-null  float64
 49  std_og_t2t_mou_6          96062 non-null  float64
 50  std_og_t2t_mou_7          96140 non-null  float64
 51  std_og_t2t_mou_8          94621 non-null  float64
 52  std_og_t2t_mou_9          92254 non-null  float64
 53  std_og_t2m_mou_6          96062 non-null  float64
 54  std_og_t2m_mou_7          96140 non-null  float64
 55  std_og_t2m_mou_8          94621 non-null  float64
 56  std_og_t2m_mou_9          92254 non-null  float64
 57  std_og_t2f_mou_6          96062 non-null  float64
 58  std_og_t2f_mou_7          96140 non-null  float64
 59  std_og_t2f_mou_8          94621 non-null  float64
 60  std_og_t2f_mou_9          92254 non-null  float64
 61  std_og_t2c_mou_6          96062 non-null  float64
 62  std_og_t2c_mou_7          96140 non-null  float64
 63  std_og_t2c_mou_8          94621 non-null  float64
 64  std_og_t2c_mou_9          92254 non-null  float64
 65  std_og_mou_6              96062 non-null  float64
 66  std_og_mou_7              96140 non-null  float64
 67  std_og_mou_8              94621 non-null  float64
 68  std_og_mou_9              92254 non-null  float64
 69  isd_og_mou_6              96062 non-null  float64
 70  isd_og_mou_7              96140 non-null  float64
 71  isd_og_mou_8              94621 non-null  float64
 72  isd_og_mou_9              92254 non-null  float64
 73  spl_og_mou_6              96062 non-null  float64
 74  spl_og_mou_7              96140 non-null  float64
 75  spl_og_mou_8              94621 non-null  float64
 76  spl_og_mou_9              92254 non-null  float64
 77  og_others_6               96062 non-null  float64
 78  og_others_7               96140 non-null  float64
 79  og_others_8               94621 non-null  float64
 80  og_others_9               92254 non-null  float64
 81  total_og_mou_6            99999 non-null  float64
 82  total_og_mou_7            99999 non-null  float64
 83  total_og_mou_8            99999 non-null  float64
 84  total_og_mou_9            99999 non-null  float64
 85  loc_ic_t2t_mou_6          96062 non-null  float64
 86  loc_ic_t2t_mou_7          96140 non-null  float64
 87  loc_ic_t2t_mou_8          94621 non-null  float64
 88  loc_ic_t2t_mou_9          92254 non-null  float64
 89  loc_ic_t2m_mou_6          96062 non-null  float64
 90  loc_ic_t2m_mou_7          96140 non-null  float64
 91  loc_ic_t2m_mou_8          94621 non-null  float64
 92  loc_ic_t2m_mou_9          92254 non-null  float64
 93  loc_ic_t2f_mou_6          96062 non-null  float64
 94  loc_ic_t2f_mou_7          96140 non-null  float64
 95  loc_ic_t2f_mou_8          94621 non-null  float64
 96  loc_ic_t2f_mou_9          92254 non-null  float64
 97  loc_ic_mou_6              96062 non-null  float64
 98  loc_ic_mou_7              96140 non-null  float64
 99  loc_ic_mou_8              94621 non-null  float64
 100 loc_ic_mou_9              92254 non-null  float64
 101 std_ic_t2t_mou_6          96062 non-null  float64
 102 std_ic_t2t_mou_7          96140 non-null  float64
 103 std_ic_t2t_mou_8          94621 non-null  float64
 104 std_ic_t2t_mou_9          92254 non-null  float64
 105 std_ic_t2m_mou_6          96062 non-null  float64
 106 std_ic_t2m_mou_7          96140 non-null  float64
 107 std_ic_t2m_mou_8          94621 non-null  float64
 108 std_ic_t2m_mou_9          92254 non-null  float64
 109 std_ic_t2f_mou_6          96062 non-null  float64
 110 std_ic_t2f_mou_7          96140 non-null  float64
 111 std_ic_t2f_mou_8          94621 non-null  float64
 112 std_ic_t2f_mou_9          92254 non-null  float64
 113 std_ic_t2o_mou_6          96062 non-null  float64
 114 std_ic_t2o_mou_7          96140 non-null  float64
 115 std_ic_t2o_mou_8          94621 non-null  float64
 116 std_ic_t2o_mou_9          92254 non-null  float64
 117 std_ic_mou_6              96062 non-null  float64
 118 std_ic_mou_7              96140 non-null  float64
 119 std_ic_mou_8              94621 non-null  float64
 120 std_ic_mou_9              92254 non-null  float64
 121 total_ic_mou_6            99999 non-null  float64
 122 total_ic_mou_7            99999 non-null  float64
 123 total_ic_mou_8            99999 non-null  float64
 124 total_ic_mou_9            99999 non-null  float64
 125 spl_ic_mou_6              96062 non-null  float64
 126 spl_ic_mou_7              96140 non-null  float64
 127 spl_ic_mou_8              94621 non-null  float64
 128 spl_ic_mou_9              92254 non-null  float64
 129 isd_ic_mou_6              96062 non-null  float64
 130 isd_ic_mou_7              96140 non-null  float64
 131 isd_ic_mou_8              94621 non-null  float64
 132 isd_ic_mou_9              92254 non-null  float64
 133 ic_others_6               96062 non-null  float64
 134 ic_others_7               96140 non-null  float64
 135 ic_others_8               94621 non-null  float64
 136 ic_others_9               92254 non-null  float64
 137 total_rech_num_6          99999 non-null  int64
 138 total_rech_num_7          99999 non-null  int64
 139 total_rech_num_8          99999 non-null  int64
 140 total_rech_num_9          99999 non-null  int64
 141 total_rech_amt_6          99999 non-null  int64
 142 total_rech_amt_7          99999 non-null  int64
 143 total_rech_amt_8          99999 non-null  int64
 144 total_rech_amt_9          99999 non-null  int64
 145 max_rech_amt_6            99999 non-null  int64
 146 max_rech_amt_7            99999 non-null  int64
 147 max_rech_amt_8            99999 non-null  int64
 148 max_rech_amt_9            99999 non-null  int64
 149 date_of_last_rech_6       98392 non-null  object
 150 date_of_last_rech_7       98232 non-null  object
 151 date_of_last_rech_8       96377 non-null  object
 152 date_of_last_rech_9       95239 non-null  object
 153 last_day_rch_amt_6        99999 non-null  int64
 154 last_day_rch_amt_7        99999 non-null  int64
 155 last_day_rch_amt_8        99999 non-null  int64
 156 last_day_rch_amt_9        99999 non-null  int64
 157 date_of_last_rech_data_6  25153 non-null  object
 158 date_of_last_rech_data_7  25571 non-null  object
 159 date_of_last_rech_data_8  26339 non-null  object
 160 date_of_last_rech_data_9  25922 non-null  object
 161 total_rech_data_6         25153 non-null  float64
 162 total_rech_data_7         25571 non-null  float64
 163 total_rech_data_8         26339 non-null  float64
 164 total_rech_data_9         25922 non-null  float64
 165 max_rech_data_6           25153 non-null  float64
 166 max_rech_data_7           25571 non-null  float64
 167 max_rech_data_8           26339 non-null  float64
 168 max_rech_data_9           25922 non-null  float64
 169 count_rech_2g_6           25153 non-null  float64
 170 count_rech_2g_7           25571 non-null  float64
 171 count_rech_2g_8           26339 non-null  float64
 172 count_rech_2g_9           25922 non-null  float64
 173 count_rech_3g_6           25153 non-null  float64
 174 count_rech_3g_7           25571 non-null  float64
 175 count_rech_3g_8           26339 non-null  float64
 176 count_rech_3g_9           25922 non-null  float64
 177 av_rech_amt_data_6        25153 non-null  float64
 178 av_rech_amt_data_7        25571 non-null  float64
 179 av_rech_amt_data_8        26339 non-null  float64
 180 av_rech_amt_data_9        25922 non-null  float64
 181 vol_2g_mb_6               99999 non-null  float64
 182 vol_2g_mb_7               99999 non-null  float64
 183 vol_2g_mb_8               99999 non-null  float64
 184 vol_2g_mb_9               99999 non-null  float64
 185 vol_3g_mb_6               99999 non-null  float64
 186 vol_3g_mb_7               99999 non-null  float64
 187 vol_3g_mb_8               99999 non-null  float64
 188 vol_3g_mb_9               99999 non-null  float64
 189 arpu_3g_6                 25153 non-null  float64
 190 arpu_3g_7                 25571 non-null  float64
 191 arpu_3g_8                 26339 non-null  float64
 192 arpu_3g_9                 25922 non-null  float64
 193 arpu_2g_6                 25153 non-null  float64
 194 arpu_2g_7                 25571 non-null  float64
 195 arpu_2g_8                 26339 non-null  float64
 196 arpu_2g_9                 25922 non-null  float64
 197 night_pck_user_6          25153 non-null  float64
 198 night_pck_user_7          25571 non-null  float64
 199 night_pck_user_8          26339 non-null  float64
 200 night_pck_user_9          25922 non-null  float64
 201 monthly_2g_6              99999 non-null  int64
 202 monthly_2g_7              99999 non-null  int64
 203 monthly_2g_8              99999 non-null  int64
 204 monthly_2g_9              99999 non-null  int64
 205 sachet_2g_6               99999 non-null  int64
 206 sachet_2g_7               99999 non-null  int64
 207 sachet_2g_8               99999 non-null  int64
 208 sachet_2g_9               99999 non-null  int64
 209 monthly_3g_6              99999 non-null  int64
 210 monthly_3g_7              99999 non-null  int64
 211 monthly_3g_8              99999 non-null  int64
 212 monthly_3g_9              99999 non-null  int64
 213 sachet_3g_6               99999 non-null  int64
 214 sachet_3g_7               99999 non-null  int64
 215 sachet_3g_8               99999 non-null  int64
 216 sachet_3g_9               99999 non-null  int64
 217 fb_user_6                 25153 non-null  float64
 218 fb_user_7                 25571 non-null  float64
 219 fb_user_8                 26339 non-null  float64
 220 fb_user_9                 25922 non-null  float64
 221 aon                       99999 non-null  int64
 222 aug_vbc_3g                99999 non-null  float64
 223 jul_vbc_3g                99999 non-null  float64
 224 jun_vbc_3g                99999 non-null  float64
 225 sep_vbc_3g                99999 non-null  float64
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

## Data Cleaning

In [45]:
# function to sort missing percentages
def sortMissing(data, size):
    missing_df = round((data.isnull().sum() * 100/ len(data)),2).sort_values(ascending=False)
    print(missing_df.head(size))

In [46]:
# get the percentage of missing values
sortMissing(df, 50)

count_rech_2g_6             74.85
date_of_last_rech_data_6    74.85
count_rech_3g_6             74.85
av_rech_amt_data_6          74.85
max_rech_data_6             74.85
total_rech_data_6           74.85
arpu_3g_6                   74.85
arpu_2g_6                   74.85
night_pck_user_6            74.85
fb_user_6                   74.85
arpu_3g_7                   74.43
count_rech_2g_7             74.43
fb_user_7                   74.43
count_rech_3g_7             74.43
arpu_2g_7                   74.43
av_rech_amt_data_7          74.43
max_rech_data_7             74.43
night_pck_user_7            74.43
total_rech_data_7           74.43
date_of_last_rech_data_7    74.43
night_pck_user_9            74.08
date_of_last_rech_data_9    74.08
fb_user_9                   74.08
arpu_2g_9                   74.08
max_rech_data_9             74.08
arpu_3g_9                   74.08
total_rech_data_9           74.08
av_rech_amt_data_9          74.08
count_rech_3g_9             74.08
count_rech_2g_9             74.08
fb_user_8                   73.66
av_rech_amt_data_8          73.66
count_rech_3g_8             73.66
count_rech_2g_8             73.66
date_of_last_rech_data_8    73.66
total_rech_data_8           73.66
max_rech_data_8             73.66
arpu_3g_8                   73.66
arpu_2g_8                   73.66
night_pck_user_8            73.66
std_ic_t2m_mou_9             7.75
spl_ic_mou_9                 7.75
loc_ic_mou_9                 7.75
isd_ic_mou_9                 7.75
std_ic_t2o_mou_9             7.75
loc_ic_t2f_mou_9             7.75
ic_others_9                  7.75
loc_og_t2f_mou_9             7.75
loc_ic_t2m_mou_9             7.75
loc_og_t2c_mou_9             7.75
dtype: float64

In [47]:
# dropping all columns having high percentages of missing values >70%
for column in df:
    col = df[column]
    if col.isnull().sum() * 100 / len(df) > 70.0:
        df.drop([column], axis=1, inplace=True)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 186 entries, mobile_number to sep_vbc_3g
dtypes: float64(143), int64(35), object(8)
memory usage: 141.9+ MB

In [49]:
sortMissing(df, 10)

loc_ic_t2m_mou_9    7.75
std_og_t2t_mou_9    7.75
std_ic_t2f_mou_9    7.75
std_ic_t2t_mou_9    7.75
roam_og_mou_9       7.75
loc_ic_mou_9        7.75
loc_og_t2t_mou_9    7.75
loc_ic_t2f_mou_9    7.75
roam_ic_mou_9       7.75
ic_others_9         7.75
dtype: float64

### Dropping columns having single value

In [50]:
df.columns[df.nunique() <= 1].shape

(16,)

In [51]:
for column in df.columns[df.nunique() <= 1]:
    df.drop([column], axis=1, inplace=True)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 170 entries, mobile_number to sep_vbc_3g
dtypes: float64(132), int64(34), object(4)
memory usage: 129.7+ MB

### Filter High Value customers

In [53]:
avg_rech_amt = (df.total_rech_amt_6 + df.total_rech_amt_7) / 2
df['avg_rech_amt'] = avg_rech_amt
df['avg_rech_amt'].quantile(0.7)

368.5

In [54]:
df_high_val = df[df['avg_rech_amt'] >= df['avg_rech_amt'].quantile(0.7)]

In [55]:
df_high_val.shape

(30011, 171)

In [56]:
df_high_val.head()

,mobile_number,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,...,sachet_3g_6,sachet_3g_7,sachet_3g_8,sachet_3g_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,avg_rech_amt
7,7000701601,1069.180,1349.850,3171.480,500.000,57.84,54.68,52.29,NaN,453.43,...,0,0,0,0,802,57.74,19.38,18.74,0.0,1185.0
8,7001524846,378.721,492.223,137.362,166.787,413.69,351.03,35.08,33.46,94.66,...,0,0,0,0,315,21.03,910.65,122.16,0.0,519.0
13,7002191713,492.846,205.671,593.260,322.732,501.76,108.39,534.24,244.81,413.31,...,0,0,0,0,2607,0.00,0.00,0.00,0.0,380.0
16,7000875565,430.975,299.869,187.894,206.490,50.51,74.01,70.61,31.34,296.29,...,0,0,0,0,511,0.00,2.45,21.89,0.0,459.0
17,7000187447,690.008,18.980,25.499,257.583,1185.91,9.28,7.79,558.51,61.64,...,0,0,0,0,667,0.00,0.00,0.00,0.0,408.0

## Derive Churn

In [57]:
df_high_val.filter(regex=("._9")).columns

Index(['arpu_9', 'onnet_mou_9', 'offnet_mou_9', 'roam_ic_mou_9',
       'roam_og_mou_9', 'loc_og_t2t_mou_9', 'loc_og_t2m_mou_9',
       'loc_og_t2f_mou_9', 'loc_og_t2c_mou_9', 'loc_og_mou_9',
       'std_og_t2t_mou_9', 'std_og_t2m_mou_9', 'std_og_t2f_mou_9',
       'std_og_mou_9', 'isd_og_mou_9', 'spl_og_mou_9', 'og_others_9',
       'total_og_mou_9', 'loc_ic_t2t_mou_9', 'loc_ic_t2m_mou_9',
       'loc_ic_t2f_mou_9', 'loc_ic_mou_9', 'std_ic_t2t_mou_9',
       'std_ic_t2m_mou_9', 'std_ic_t2f_mou_9', 'std_ic_mou_9',
       'total_ic_mou_9', 'spl_ic_mou_9', 'isd_ic_mou_9', 'ic_others_9',
       'total_rech_num_9', 'total_rech_amt_9', 'max_rech_amt_9',
       'date_of_last_rech_9', 'last_day_rch_amt_9', 'vol_2g_mb_9',
       'vol_3g_mb_9', 'monthly_2g_9', 'sachet_2g_9', 'monthly_3g_9',
       'sachet_3g_9'],
      dtype='object')

In [58]:
df_high_val.total_og_mou_9.value_counts()

0.00       3249
0.21         20
1.01          7
0.61          7
5.93          6
           ...
345.84        1
97.94         1
1391.18       1
248.33        1
1281.78       1
Name: total_og_mou_9, Length: 22615, dtype: int64

In [59]:
# total_og_mou_9, total_ic_mou_9, monthly_2g_9, monthly_3g_9
df_high_val['churn'] = (df_high_val['total_og_mou_9'] < 1.0) &  (df_high_val['total_ic_mou_9'] < 1.0) & (df_high_val['monthly_2g_9'] < 1.0) & (df_high_val['monthly_3g_9'] < 1.0)
df_high_val['churn'].value_counts

<ipython-input-59-a659f56c4925>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_high_val['churn'] = (df_high_val['total_og_mou_9'] < 1.0) &  (df_high_val['total_ic_mou_9'] < 1.0) & (df_high_val['monthly_2g_9'] < 1.0) & (df_high_val['monthly_3g_9'] < 1.0)

<bound method IndexOpsMixin.value_counts of 7         True
8        False
13       False
16       False
17       False
         ...
99970    False
99974    False
99986    False
99988    False
99997    False
Name: churn, Length: 30011, dtype: bool>

In [60]:
df_high_val.head()

,mobile_number,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,...,sachet_3g_7,sachet_3g_8,sachet_3g_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,avg_rech_amt,churn
7,7000701601,1069.180,1349.850,3171.480,500.000,57.84,54.68,52.29,NaN,453.43,...,0,0,0,802,57.74,19.38,18.74,0.0,1185.0,True
8,7001524846,378.721,492.223,137.362,166.787,413.69,351.03,35.08,33.46,94.66,...,0,0,0,315,21.03,910.65,122.16,0.0,519.0,False
13,7002191713,492.846,205.671,593.260,322.732,501.76,108.39,534.24,244.81,413.31,...,0,0,0,2607,0.00,0.00,0.00,0.0,380.0,False
16,7000875565,430.975,299.869,187.894,206.490,50.51,74.01,70.61,31.34,296.29,...,0,0,0,511,0.00,2.45,21.89,0.0,459.0,False
17,7000187447,690.008,18.980,25.499,257.583,1185.91,9.28,7.79,558.51,61.64,...,0,0,0,667,0.00,0.00,0.00,0.0,408.0,False

In [61]:

df_high_val['churn'] = df_high_val['churn'].astype(int)

<ipython-input-61-4ef39163c142>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_high_val['churn'] = df_high_val['churn'].astype(int)

In [62]:
df_high_val['churn'].value_counts()

0    27302
1     2709
Name: churn, dtype: int64

In [63]:
### Checking the Churn Rate
churn = (sum(df_high_val['churn'])/len(df_high_val['churn'].index))*100
churn

9.02669021358835

In [64]:
df_high_val[['total_og_mou_9', 'total_ic_mou_9', 'monthly_2g_9', 'monthly_3g_9']].head()

    total_og_mou_9  total_ic_mou_9  monthly_2g_9  monthly_3g_9
7             0.00            0.00             0             0
8           142.18           34.91             0             0
13          446.09          631.86             0             0
16          255.74          334.56             0             0
17          631.08           87.13             0             0

### Drop all columns for Month 9

In [65]:
df_high_val.drop(df_high_val.filter(regex=("._9")).columns, inplace=True, axis=1)

/Users/sumitarora/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [66]:
df_high_val.shape

(30011, 131)

In [67]:
df_high_val.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30011 entries, 7 to 99997
Data columns (total 131 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   mobile_number        30011 non-null  int64
 1   arpu_6               30011 non-null  float64
 2   arpu_7               30011 non-null  float64
 3   arpu_8               30011 non-null  float64
 4   onnet_mou_6          29695 non-null  float64
 5   onnet_mou_7          29708 non-null  float64
 6   onnet_mou_8          29073 non-null  float64
 7   offnet_mou_6         29695 non-null  float64
 8   offnet_mou_7         29708 non-null  float64
 9   offnet_mou_8         29073 non-null  float64
 10  roam_ic_mou_6        29695 non-null  float64
 11  roam_ic_mou_7        29708 non-null  float64
 12  roam_ic_mou_8        29073 non-null  float64
 13  roam_og_mou_6        29695 non-null  float64
 14  roam_og_mou_7        29708 non-null  float64
 15  roam_og_mou_8        29073 non-null  float64
 16  loc_og_t2t_mou_6     29695 non-null  float64
 17  loc_og_t2t_mou_7     29708 non-null  float64
 18  loc_og_t2t_mou_8     29073 non-null  float64
 19  loc_og_t2m_mou_6     29695 non-null  float64
 20  loc_og_t2m_mou_7     29708 non-null  float64
 21  loc_og_t2m_mou_8     29073 non-null  float64
 22  loc_og_t2f_mou_6     29695 non-null  float64
 23  loc_og_t2f_mou_7     29708 non-null  float64
 24  loc_og_t2f_mou_8     29073 non-null  float64
 25  loc_og_t2c_mou_6     29695 non-null  float64
 26  loc_og_t2c_mou_7     29708 non-null  float64
 27  loc_og_t2c_mou_8     29073 non-null  float64
 28  loc_og_mou_6         29695 non-null  float64
 29  loc_og_mou_7         29708 non-null  float64
 30  loc_og_mou_8         29073 non-null  float64
 31  std_og_t2t_mou_6     29695 non-null  float64
 32  std_og_t2t_mou_7     29708 non-null  float64
 33  std_og_t2t_mou_8     29073 non-null  float64
 34  std_og_t2m_mou_6     29695 non-null  float64
 35  std_og_t2m_mou_7     29708 non-null  float64
 36  std_og_t2m_mou_8     29073 non-null  float64
 37  std_og_t2f_mou_6     29695 non-null  float64
 38  std_og_t2f_mou_7     29708 non-null  float64
 39  std_og_t2f_mou_8     29073 non-null  float64
 40  std_og_mou_6         29695 non-null  float64
 41  std_og_mou_7         29708 non-null  float64
 42  std_og_mou_8         29073 non-null  float64
 43  isd_og_mou_6         29695 non-null  float64
 44  isd_og_mou_7         29708 non-null  float64
 45  isd_og_mou_8         29073 non-null  float64
 46  spl_og_mou_6         29695 non-null  float64
 47  spl_og_mou_7         29708 non-null  float64
 48  spl_og_mou_8         29073 non-null  float64
 49  og_others_6          29695 non-null  float64
 50  og_others_7          29708 non-null  float64
 51  og_others_8          29073 non-null  float64
 52  total_og_mou_6       30011 non-null  float64
 53  total_og_mou_7       30011 non-null  float64
 54  total_og_mou_8       30011 non-null  float64
 55  loc_ic_t2t_mou_6     29695 non-null  float64
 56  loc_ic_t2t_mou_7     29708 non-null  float64
 57  loc_ic_t2t_mou_8     29073 non-null  float64
 58  loc_ic_t2m_mou_6     29695 non-null  float64
 59  loc_ic_t2m_mou_7     29708 non-null  float64
 60  loc_ic_t2m_mou_8     29073 non-null  float64
 61  loc_ic_t2f_mou_6     29695 non-null  float64
 62  loc_ic_t2f_mou_7     29708 non-null  float64
 63  loc_ic_t2f_mou_8     29073 non-null  float64
 64  loc_ic_mou_6         29695 non-null  float64
 65  loc_ic_mou_7         29708 non-null  float64
 66  loc_ic_mou_8         29073 non-null  float64
 67  std_ic_t2t_mou_6     29695 non-null  float64
 68  std_ic_t2t_mou_7     29708 non-null  float64
 69  std_ic_t2t_mou_8     29073 non-null  float64
 70  std_ic_t2m_mou_6     29695 non-null  float64
 71  std_ic_t2m_mou_7     29708 non-null  float64
 72  std_ic_t2m_mou_8     29073 non-null  float64
 73  std_ic_t2f_mou_6     29695 non-null  float64
 74  std_ic_t2f_mou_7     29708 non-null  float64
 75  std_ic_t2f_mou_8     29073 non-null  float64
 76  std_ic_mou_6         29695 non-null  float64
 77  std_ic_mou_7         29708 non-null  float64
 78  std_ic_mou_8         29073 non-null  float64
 79  total_ic_mou_6       30011 non-null  float64
 80  total_ic_mou_7       30011 non-null  float64
 81  total_ic_mou_8       30011 non-null  float64
 82  spl_ic_mou_6         29695 non-null  float64
 83  spl_ic_mou_7         29708 non-null  float64
 84  spl_ic_mou_8         29073 non-null  float64
 85  isd_ic_mou_6         29695 non-null  float64
 86  isd_ic_mou_7         29708 non-null  float64
 87  isd_ic_mou_8         29073 non-null  float64
 88  ic_others_6          29695 non-null  float64
 89  ic_others_7          29708 non-null  float64
 90  ic_others_8          29073 non-null  float64
 91  total_rech_num_6     30011 non-null  int64
 92  total_rech_num_7     30011 non-null  int64
 93  total_rech_num_8     30011 non-null  int64
 94  total_rech_amt_6     30011 non-null  int64
 95  total_rech_amt_7     30011 non-null  int64
 96  total_rech_amt_8     30011 non-null  int64
 97  max_rech_amt_6       30011 non-null  int64
 98  max_rech_amt_7       30011 non-null  int64
 99  max_rech_amt_8       30011 non-null  int64
 100 date_of_last_rech_6  29949 non-null  object
 101 date_of_last_rech_7  29897 non-null  object
 102 date_of_last_rech_8  29417 non-null  object
 103 last_day_rch_amt_6   30011 non-null  int64
 104 last_day_rch_amt_7   30011 non-null  int64
 105 last_day_rch_amt_8   30011 non-null  int64
 106 vol_2g_mb_6          30011 non-null  float64
 107 vol_2g_mb_7          30011 non-null  float64
 108 vol_2g_mb_8          30011 non-null  float64
 109 vol_3g_mb_6          30011 non-null  float64
 110 vol_3g_mb_7          30011 non-null  float64
 111 vol_3g_mb_8          30011 non-null  float64
 112 monthly_2g_6         30011 non-null  int64
 113 monthly_2g_7         30011 non-null  int64
 114 monthly_2g_8         30011 non-null  int64
 115 sachet_2g_6          30011 non-null  int64
 116 sachet_2g_7          30011 non-null  int64
 117 sachet_2g_8          30011 non-null  int64
 118 monthly_3g_6         30011 non-null  int64
 119 monthly_3g_7         30011 non-null  int64
 120 monthly_3g_8         30011 non-null  int64
 121 sachet_3g_6          30011 non-null  int64
 122 sachet_3g_7          30011 non-null  int64
 123 sachet_3g_8          30011 non-null  int64
 124 aon                  30011 non-null  int64
 125 aug_vbc_3g           30011 non-null  float64
 126 jul_vbc_3g           30011 non-null  float64
 127 jun_vbc_3g           30011 non-null  float64
 128 sep_vbc_3g           30011 non-null  float64
 129 avg_rech_amt         30011 non-null  float64
 130 churn                30011 non-null  int64
dtypes: float64(101), int64(27), object(3)
memory usage: 30.2+ MB

In [68]:
df_high_val.shape

(30011, 131)

In [69]:
# removing mobile number
df_high_val.drop(['mobile_number', 'date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8'], inplace=True, axis=1)
df_high_val.reset_index(inplace=True)

## Data Preparation

In [74]:
# let's check the distribution of churn column
sortMissing(df_high_val, 50)

loc_ic_t2f_mou_8    3.13
std_og_t2f_mou_8    3.13
spl_ic_mou_8        3.13
ic_others_8         3.13
std_og_t2m_mou_8    3.13
std_og_t2t_mou_8    3.13
std_ic_mou_8        3.13
loc_og_mou_8        3.13
std_ic_t2f_mou_8    3.13
loc_og_t2c_mou_8    3.13
std_ic_t2m_mou_8    3.13
loc_og_t2f_mou_8    3.13
std_ic_t2t_mou_8    3.13
loc_og_t2m_mou_8    3.13
loc_ic_mou_8        3.13
loc_og_t2t_mou_8    3.13
isd_ic_mou_8        3.13
og_others_8         3.13
loc_ic_t2m_mou_8    3.13
isd_og_mou_8        3.13
roam_ic_mou_8       3.13
loc_ic_t2t_mou_8    3.13
spl_og_mou_8        3.13
offnet_mou_8        3.13
roam_og_mou_8       3.13
std_og_mou_8        3.13
onnet_mou_8         3.13
loc_ic_t2f_mou_6    1.05
spl_ic_mou_6        1.05
spl_og_mou_6        1.05
std_og_t2f_mou_6    1.05
og_others_6         1.05
std_ic_t2f_mou_6    1.05
std_ic_mou_6        1.05
std_og_mou_6        1.05
std_ic_t2m_mou_6    1.05
loc_ic_t2t_mou_6    1.05
std_ic_t2t_mou_6    1.05
loc_ic_t2m_mou_6    1.05
isd_og_mou_6        1.05
loc_ic_mou_6        1.05
isd_ic_mou_6        1.05
loc_og_t2m_mou_6    1.05
std_og_t2t_mou_6    1.05
loc_og_t2t_mou_6    1.05
loc_og_t2f_mou_6    1.05
roam_og_mou_6       1.05
loc_og_t2c_mou_6    1.05
loc_og_mou_6        1.05
roam_ic_mou_6       1.05
dtype: float64

In [77]:
# imputing missing values with KNN fancy imputer
imputer = KNNImputer(n_neighbors=2)

In [78]:
df_high_val_imputed = pd.DataFrame(imputer.fit_transform(df_high_val),columns = df_high_val.columns)

In [79]:
df_high_val_imputed.head()

,index,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,...,sachet_3g_6,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,avg_rech_amt,churn
0,7.0,1069.180,1349.850,3171.480,57.84,54.68,52.29,453.43,567.16,325.91,...,0.0,0.0,0.0,802.0,57.74,19.38,18.74,0.0,1185.0,1.0
1,8.0,378.721,492.223,137.362,413.69,351.03,35.08,94.66,80.63,136.48,...,0.0,0.0,0.0,315.0,21.03,910.65,122.16,0.0,519.0,0.0
2,13.0,492.846,205.671,593.260,501.76,108.39,534.24,413.31,119.28,482.46,...,0.0,0.0,0.0,2607.0,0.00,0.00,0.00,0.0,380.0,0.0
3,16.0,430.975,299.869,187.894,50.51,74.01,70.61,296.29,229.74,162.76,...,0.0,0.0,0.0,511.0,0.00,2.45,21.89,0.0,459.0,0.0
4,17.0,690.008,18.980,25.499,1185.91,9.28,7.79,61.64,0.00,5.54,...,0.0,0.0,0.0,667.0,0.00,0.00,0.00,0.0,408.0,0.0

In [81]:
sortMissing(df_high_val_imputed, 10)

churn               0.0
avg_rech_amt        0.0
std_og_t2t_mou_8    0.0
std_og_t2m_mou_6    0.0
std_og_t2m_mou_7    0.0
std_og_t2m_mou_8    0.0
std_og_t2f_mou_6    0.0
std_og_t2f_mou_7    0.0
std_og_t2f_mou_8    0.0
std_og_mou_6        0.0
dtype: float64